.icon {
  width: 14px;                  /* tamaño del icono */
  height: 14px;                 /* opcional, deja que el SVG escale */
  vertical-align: text-bottom;  /* alinea con el texto */
  margin-right: 10px;            /* espacio entre icono y texto */
}
